.widget-container {
  flex: 1;
  position: relative;
  height: 100%;
}
.go-back-btn {
  margin: 20px 30px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.go-back-btn:hover {
  color: #FF9900;
}
.loading-animation {
  margin: 22% auto;
  max-height: 100px;
  max-width: 100px;
}
.widget-header-container {
  background-color: #4A4A4A;
  padding: 2px;
  height: 62px;
  display: flex;
}
.widget-header-container.empty {
  background-color: transparent;
  visibility: hidden;
}
.widget-header-btn {
  cursor: pointer;
  background: transparent;
  color: #FFFFFF;
  border-radius: 10px;
  margin: 0 2px;
  border: none;
  font-weight: 600;
  font-size: 24px;
  width: 140px;
}
.widget-header-btn:hover {
  background: #000000;
}

.widget-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
}
.widget-loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgb(0 0 0 / 10%);
  z-index: 100;
}
.widet-error-text {
  text-align: center;
  margin: 50px 0;
}

.widget-side-bar {
  background-color: #F6F6F6;
  padding: 25px 20px 100px 20px;
}
.widget-block-section {
  margin: 30px 0;
}
.widget-block-section .position-wraper {
  display: flex;
  align-items: center;
}
.widget-block-section .position-wraper > div:first-child {
  margin-right: 30px;
}
.widget-block-section h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 43px;
}
.widget-block-section h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}
.widget-block-section h3 span {
  font-size: 14px;
  font-weight: 400;
}
.widget-block-section p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.widget-radio-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.widget-radio-item svg {
  font-size: 24px;
  color: #24CB43;
  margin-right: 8px;
}
.widget-block-divider {
  height: 1px;
  background-color: #CCCCCC;
}
.widget-input {
  background-color: #FFF;
  border: none;
  outline: none;
  padding: 9px 14px;
  width: 100%;
}
.add-input-fields-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.add-input-fields-container > svg {
  font-size: 24px;
  cursor: pointer;
  margin-right: 8px;
}
.additional-input-delete-btn {
  position: absolute;
  right: -24px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  min-width: initial;
  color: #181818;
}
.additional-input-delete-btn:hover {
  background-color: transparent;
  color: #FF735E;
}
.add-input-fields-wrapper input {
  margin: 2px 0;
}
.add-input-fields-divider {
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
}
.add-input-fields-divider .widget-block-divider {
  width: calc(100% - 28px);
}
.add-item-containter {
  position: relative;
  margin: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-item-containter .widget-block-divider {
  width: 100%;
}
.add-item-containter svg {
  position: absolute;
  background-color: #f6f6f6;
  cursor: pointer;
  font-size: 20px;
}
.add-item-containter svg:hover {
  color: #24CB43;
}
.poll-field-item-container {
  margin-bottom: 35px;
}
.poll-inputs-container {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.poll-inputs-container .poll-question-input-wrapper {
  width: 80%;
  margin: 2px 0;
  position: relative;
  display: flex;
  align-items: center;
}
.poll-input-delete-btn {
  position: absolute;
  right: -24px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  min-width: initial;
  color: #181818;
}
.poll-input-delete-btn:hover {
  background-color: transparent;
  color: #FF735E;
}
.requirement-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 22px;
}
.requirement-checkbox svg {
  font-size: 20px;
  margin-right: 8px;
}
.requirement-checkbox svg.active {
  color: #24CB43;
}
.poll-checkbox-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  min-width: initial;
  display: flex;
  align-items: center;
  color: #000000;
}
.poll-checkbox-btn:hover {
  background-color: transparent;
  color: initial;
}

.color-picker-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  position: relative;
}
.color-picker-container > label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.color-picker-container > span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0.5px solid #CCCCCC;
}
.color-picker-wrapper {
  position: absolute;
  z-index: 100;
  left: calc(100% + 13px);
}
.color-picker-wrapper > .rcp.rcp-dark {
  position: relative;
}
.color-picker-wrapper > .rcp.rcp-dark::before {
  content: "";
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #181818;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
}

.accordion-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px 0;
}
.accordion-header svg {
  transition: transform ease 0.2s;
  font-size: 24px;
}
.accordion-header.active svg{
  transform: rotate(180deg);
}
.accordion-content {
  transition: height ease 0.2s;
  overflow: hidden;
}
.accordion-content.active {
  overflow: initial;
}
.accordion-content .widget-radio-item:last-child {
  /* margin-bottom: 25px; */
}

.widget-preview-container {
  flex: 1;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.widget-preview-item {
  min-width: 100%;
}
.widget-preview-item > p {
  font-size: 16px;
  line-height: 38px;
  margin-top: 0;
  margin-bottom: 20px;
}

.widget-icon-preview-container {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.18);
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.widget-logo-text {
  font-weight: 700;
  margin-right: 16px;
  font-size: 14px;
  margin: 0 16px;
}
.widget-logo-wrapper {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-form-preview-container {
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 40px 20px;
  margin-bottom: 70px;
}
.input-form-preview-close-icon-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.input-form-preview-container .title-text {
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 20px;
}
.widget-form-controller {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}
.widget-form-controller label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
.widget-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.widget-input-wrapper svg {
  position: absolute;
  left: 14px;
}
.widget-input-wrapper input {
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 12px 15px 12px 36px;
  outline: none;
  width: 100%;
}
.poll-field-container label {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 8px 0px 4px;
}
.poll-field-container > div {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 5px 5px -5px;
  width: calc(100% + 10px);
}
.poll-field-container > div > button {
  width: calc(50% - 10px);
  height: 44px;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in 0s;
  background: rgb(255, 255, 255);
  min-width: initial;
}
.widget-bottom-btn-container {
  flex: 1 1 0%;
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
}
.widget-bottom-btn-container button {
  border: none;
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in 0s;
  width: 100%;
}

.result-page-preview-container {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  padding: 40px 20px;
}
.result-close-icon-container {
  display: flex;
  justify-content: flex-end;
}
.result-close-icon-container span {
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-close-icon-container span svg {
  margin-left: 0;
}
.result-header-item {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  padding: 15px 0px;
}
.result-header-item p {
  font-size: 14px;
  line-height: 16px;
  margin: 0px;
}
.result-header-item h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.result-main-item {
  margin-top: 20px;
}
.result-main-item > p {
  font-size: 14px;
  line-height: 16px;
  margin: 0px;
}
.result-main-item > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.result-main-item > div > h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0px;
  width: 50%;
}
.result-main-item > div > div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px 30px;
  cursor: pointer;
}
.result-main-item > div > span {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  flex: 1 1 0%;
}
.result-main-item svg {
  margin-left: 0px;
}
.widget-powered-by-container {
  border-width: 0;
  border-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 5px;
  margin-top: 30px;
  text-align: right;
}
.widget-powered-by-container a {
  font-size: 12px;
  color: rgb(207, 206, 211);
  text-decoration: none;
}
.contact-broker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}
.contact-broker-container a {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.contact-broker-container a svg {
  margin-right: 10px;
}
.contact-broker-container a span {
  font-size: 14px;
}

@media (min-width: 768px) {
  .widget-preview-item {
    min-width: initial;
  }
  .widget-preview-container {
    padding: 50px 20px;
  }
  .widget-icon-preview-container {
    min-width: 350px;
    margin-bottom: 150px;
  }
  .input-form-preview-container {
    min-width: 350px;
  }
  .result-page-preview-container {
    min-width: 350px;
  }
}

@media (min-width: 1024px) {
  .widget-content-wrapper {
    flex-direction: row;
    padding: 0;
  }
  .widget-side-bar {
    width: 350px;
    padding: 25px 30px 100px 30px;
  }
  .widget-preview-container {
    padding: 50px 30px;
  }
  .widget-icon-preview-container {
    min-width: 400px;
  }
  .input-form-preview-container {
    min-width: 400px;
    padding: 40px 30px;
  }
  .result-page-preview-container {
    min-width: 400px;
    padding: 40px 30px;
  }
}